.head{
    min-height:70px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px red;   
}

h1>span{
    color: white;
    text-shadow: 2px 2px 4px blue;  
}

h4{
color:rgb(120,120,120);
text-shadow: 0px 2px 2px black;
}

.left{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition:transform 0.5s;
}

@keyframes example {
    0%   {transform: rotate(-4deg); left: 0; top:0;}
    25%  {transform: rotate(-4deg); left:200px; top:0;}
    50%  {transform: rotate(0deg); left:200px; top:0;}
    75%  {transform: rotate(3deg); left:200px; top:0;}
    95%  {transform: rotate(3deg); left:0px; top:0;}
    100% {transform: rotate(0deg); left:0px; top:0;}
}

.right{
    text-align: end;        /*delete for sm and do center */
    margin-top: 10px;     /*should delete this margin for sm*/
}

.navbar-brand{
    color: white;
    text-shadow: 2px 2px 2px red; 
}

.navbar{
    position: sticky;
    top: 0;
    z-index:1;
}
.navbar-brand>span{
    color: white;
  text-shadow: 2px 2px 2px blue; 
}
.navbar-dark .navbar-nav .nav-link{
    color:rgb(241, 164, 76);
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:white;
}
.card{
    height:225px;
    margin:auto;
}
.card-body>.fa-quote-right{
    position: absolute;
    right:20px;
    bottom:20px;
}
body {
    /* background-image:linear-gradient(to bottom left,#ffa502,#eccc68); */
    background-color: #f39c12;
}
/*---header-------*/
.header{
    margin: 20px 0px;
    font-size: 35px;
    background-color: #27ae60;
    border-radius: 25px;
    text-shadow: 2px 4px 4px black; 
    color: white;
    font-family:'Sofia';
    text-align:center;
}

/*----fotter-------*/
.footer{
    font-family: 'Baloo Bhai 2', cursive;
    height: 50px;
}
.footer h6{
    line-height: 50px;
    font-weight: bold;
    background-color: pink;
}

@media screen and (max-width: 767px) {
    .right{
        text-align:center;
    }
    @keyframes example {
        0%   {transform: rotate(-4deg); left: 0; top:0;}
        25%  {transform: rotate(-4deg); left:60px; top:0;}
        50%  {transform: rotate(0deg); left:60px; top:0;}
        75%  {transform: rotate(3deg); left:60px; top:0;}
        95%  {transform: rotate(3deg); left:0px; top:0;}
        100% {transform: rotate(0deg); left:0px; top:0;}
      }
}  
/* -------------------Responsive section---------------------- */
@media(min-width:1200px){
  
}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){
  .head .left h1{
    font-size: 25px !important;
  }
  .head .right h4{
    font-size: 18px !important;
  }
}
@media(min-width:576px) and (max-width:767px){
  .head .left h1{
    font-size: 25px !important;
    margin-top: 10px;
  }
  .head .right h4{
    font-size: 20px !important;
  }
}
@media(min-width:480px) and (max-width:575px){
  .head .left h1{
    font-size: 26px !important;
    margin-top: 10px;
  }
}
@media (min-width:411px) and (max-width:479px){
  .head .left h1{
    font-size: 22px !important;
    margin-top: 16px;
  }
  .head .right h4{
    font-size: 14px !important;
  }
}
@media (max-width:410px){
  .head .left h1{
    font-size: 18px !important;
    margin-top: 16px;
  }
  .head .right h4{
    font-size: 13px !important;
  }
}